#id30 {
     position: absolute;
     bottom: -500%;
}
#id25 {
     position: relative;
     left: 15%;
}
.ackn {
     position: absolute;
     bottom: -210%;
}
#id1 {
     position: relative;
     left: 15%;
}
#id31 {
     position: relative;
     left: 30%;
}
#id4 {
     position: relative;
     left: 30%;
}
#id5, #id8 {
     position: relative;
     left: 30%;
}
#id10, #id33, #id11, #id13 {
     position: relative;
     left: 30%;
}
#id34, #id14, #id15, #id16, #id18, #id21, #id22, #id23 {
     position: relative;
     left: 30%;
}