.ackn {
     position: absolute;
     bottom: -220%;
}
#id25 {
     position: relative;
     left: 15%;
}
#id40 {
     width: 30%;
     position: relative;
     left: 35%;
}
#id1, #id2 {
     position: relative;
     left: 15%;
}
#id31 {
     position: relative;
     left: 35%;
}
#id5 {
     position: relative;
     left: 35%;
}
#id8 {
     position: relative;
     left: 35%;
}
#id10, #id33, #id11, #id13, #id34, #id14, #id15, #id16, #id18, #id21, #id22, #id23 {
     position: relative;
     left: 35%;
}