.ackn {
     position: absolute;
     bottom:  -210%;
}
#id25 {
     text-align: center;
     position: relative;
     left: -20%;
     top: 30px;
}
#id30 {
     position: absolute;
     bottom: -570%;
}
#id26 {
     position: absolute;
     top: 200%;
}
#id1 {
     position: relative;
     left: 7%;
}
#id2 {
     position: relative;
     left: -7%;
}
#id3 {
     position: relative;
     left: -17%;
}
#id31 {
     position: relative;
     left: 25%;
}
#id4 {
     position: relative;
     left: 5%;
}
#id10 {
     position: relative;
     left: 7%;
}
#id33 {
     position: relative;
     left: 25%;
}
#id13 {
     position: relative;
     left: 25%;
}
#id34 {
     position: relative;
     left: 22%;
}
#id14 {
     position: relative;
     left: 33%;
}
#id15 {
     position: relative;
     left: 7%;
}
#id16 {
     position: relative;
     left: 23%;
}
#id18 {
     position: relative;
     left: 20%;
}
#id21 {
     font-size: 120%;
}
#id22 {
     position: relative;
     left: 7%;
}
#id23 {
     position: relative;
     left: 15%;
}