body {
     text-transform: capitalize;
}
.h {
     background-color: rgba(0, 255, 255, 0.7);
     width: 100%;
     height: 10%;
     position: absolute;
     top: 0px;
     left: 0px;
     position: fixed;
     z-index: 1;
}
.b {
     position: absolute;
     left: 3%;
}
.d {
     overflow: hidden;
}
.d .e {
     font-size: 16px;  
     border: none;
     outline: none;
     padding: 14px 16px;
     background-color: inherit;
     font-family: inherit;
     margin: 0;
     text-decoration: none;
}
.d {
     color: white;
}
.e {
     color: black;
}
.e:hover {
     color: white;
}
.h .qq:hover, .d:hover .e {
     background-color: red;
     transition: .4s ease-in-out;
}
.j {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     width: 10%;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}
.j .qq {
     float: none;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: center;
}
.j .qq:hover {
     background-color: #ddd;
     opacity: 1;
}
   
.d:hover .j {
     display: block;
     opacity: 1;
     transition: .7s ease-in-out;
}
.j {
     position: absolute;
     left: 68.5%;
     top: 50px;
}
.e {
     position: absolute;
     left: 70%;
     top: 5%;
}
.c {
     font-size: 16px;  
     border: none;
     outline: none;
     padding: 14px 16px;
     font-family: inherit;
     margin: 0;
     color: black;
     text-decoration: none;
     position: absolute;
     top: 5%;
     left: 61%;
     z-index: 1;
}
.c:hover {
     background-color: red;
     transition: .4s ease-in-out;
     color: white;
}
.g {
     font-size: 16px;  
     border: none;
     outline: none;
     padding: 14px 16px;
     font-family: inherit;
     margin: 0;
     color: black;
     text-decoration: none;
     position: absolute;
     top: 5%;
     left: 80%;
}
.g:hover {
     background-color: red;
     transition: .4s ease-in-out;
     color: white;
} 
.k {
     position: absolute;
     top: 585%;
}
.ii {
     width: 50%;
     position: relative;
     left: 22%;
     mix-blend-mode: multiply;
}
.i1 {
     border: 1px solid transparent;
     box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
     width: 20%;
     height: 300px;
}
.i1:hover {
     box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.5);
     transition: .7s ease-in-out;
}
.si1 {
     position: relative;
     left: 20%;
     bottom: 1%;
}
.ip {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 140%;
     position: relative;
     top: -7px;
}
.ip2 {
     font-size: 160%;
     position: absolute;
     top: 0%;
     left: 15%;
}
.il {
     border: 1px solid transparent;
     padding: 12px 20px;
     background-color: rgb(0, 255, 255);
     border-radius: 4px;
     text-decoration: none;
     color: white;
     position: absolute;
     top: 0%;
     left: 0%;
}
.il:hover {
     background-color: transparent;
     border: 1px solid transparent;
     color: black;
     transition: .4s ease-in-out;
}
.ib {
     border: 1px solid transparent;
     padding: 12px 17px;
     height: 100%;
     background-color: transparent;
     border-radius: 4px;
     text-decoration: none;
     color: black;
     width: 55%;
     position: absolute;
     top: 0%;
     right: 0%;
}
.ib:hover {
     background-color: rgb(0, 255, 255);
     border: none;
     color: white;
     transition: .4s ease-in-out;
}
.ib:hover .il {
     background-color: transparent;
}
.test {
     background-color: rgb(236, 236, 236);
     width: 78%;
     height: 170%;
     position: absolute;
     border-radius: 4px;
     bottom: -350%;
     left: -10%;
     border: 1px solid rgb(0, 255, 255);
     border-left: none;
     border-right: none;
}
.i2i {
     width: 50%;
     position: relative;
     left: 22%;
     top: 5px;
     mix-blend-mode: multiply;
}
.i2 {
     border: 1px solid transparent;
     box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
     width: 20%;
     height: 300px;
}
.i2:hover {
     box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.5);
     transition: .2s ease-in-out;
}
.si2 {
     position: relative;
     left: 20%;
     bottom: 1%;
}
.i2p {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 140%;
     position: relative;
     top: 7px;
     left: -3%;
}
.i2p2 {
     font-size: 160%;
     position: absolute;
     top: 50%;
     left: 15%;
}
.i2l {
     border: 1px solid transparent;
     padding: 12px 20px;
     background-color: rgb(0, 255, 255);
     border-radius: 4px;
     text-decoration: none;
     color: white;
     position: absolute;
     top: 0%;
     left: 0%;
}
.i2l:hover {
     background-color: transparent;
     border: 1px solid transparent;
     color: black;
     transition: .4s ease-in-out;
}
.i2b {
     border: 1px solid transparent;
     padding: 12px 17px;
     height: 100%;
     background-color: transparent;
     border-radius: 4px;
     text-decoration: none;
     color: black;
     width: 55%;
     position: absolute;
     top: 0%;
     right: 0%;
}
.i2b:hover {
     background-color: rgb(0, 255, 255);
     border: none;
     color: white;
     transition: .4s ease-in-out;
}
.i2b:hover .il {
     background-color: transparent;
}
.test2 {
     background-color: rgb(236, 236, 236);
     width: 78%;
     height: 170%;
     position: absolute;
     border-radius: 4px;
     bottom: -400%;
     left: -10%;
     border: 1px solid rgb(0, 255, 255);
     border-left: none;
     border-right: none;
}
.i3i {
     width: 50%;
     height: 100px;
     position: relative;
     left: 22%;
     top: 10px;
     mix-blend-mode: multiply;
}
.i3 {
     border: 1px solid transparent;
     box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
     width: 20%;
     height: 300px;
}
.i3:hover {
     box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.5);
     transition: .7s ease-in-out;
}
.si3 {
     position: relative;
     left: 20%;
     bottom: 1%;
}
.i3p {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 140%;
     position: relative;
     top: 25px;
     left: 8%;
}
.i3p2 {
     font-size: 160%;
     position: absolute;
     top: 120%;
     left: 15%;
}
.i3l {
     border: 1px solid transparent;
     padding: 12px 20px;
     background-color: rgb(0, 255, 255);
     border-radius: 4px;
     text-decoration: none;
     color: white;
     position: absolute;
     top: 0%;
     left: 0%;
}
.i3l:hover {
     background-color: transparent;
     border: 1px solid transparent;
     color: black;
     transition: .4s ease-in-out;
}
.i3b {
     border: 1px solid transparent;
     padding: 12px 17px;
     height: 100%;
     background-color: transparent;
     border-radius: 4px;
     text-decoration: none;
     color: black;
     width: 55%;
     position: absolute;
     top: 0%;
     right: 0%;
}
.i3b:hover {
     background-color: rgb(0, 255, 255);
     border: none;
     color: white;
     transition: .4s ease-in-out;
}
.i3b:hover .i3l {
     background-color: transparent;
}
.test3 {
     background-color: rgb(236, 236, 236);
     width: 78%;
     height: 170%;
     position: absolute;
     border-radius: 4px;
     bottom: -470%;
     left: -10%;
     border: 1px solid rgb(0, 255, 255);
     border-left: none;
     border-right: none;
}
.i4i {
     width: 50%;
     height: 100px;
     position: relative;
     left: 22%;
     top: 10px;
     mix-blend-mode: multiply;
}
.i4 {
     border: 1px solid transparent;
     box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
     width: 20%;
     height: 300px;
}
.i4:hover {
     box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.5);
     transition: .7s ease-in-out;
}
.si4 {
     position: relative;
     left: 20%;
     bottom: 1%;
}
.i4p {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 140%;
     position: relative;
     top: 25px;
     left: 10%;
}
.i4p2 {
     font-size: 160%;
     position: absolute;
     top: 120%;
     left: 15%;
}
.i4l {
     border: 1px solid transparent;
     padding: 12px 20px;
     background-color: rgb(0, 255, 255);
     border-radius: 4px;
     text-decoration: none;
     color: white;
     position: absolute;
     top: 0%;
     left: 0%;
}
.i4l:hover {
     background-color: transparent;
     border: 1px solid transparent;
     color: black;
     transition: .4s ease-in-out;
}
.i4b {
     border: 1px solid transparent;
     padding: 12px 17px;
     height: 100%;
     background-color: transparent;
     border-radius: 4px;
     text-decoration: none;
     color: black;
     width: 55%;
     position: absolute;
     top: 0%;
     right: 0%;
}
.i4b:hover {
     background-color: rgb(0, 255, 255);
     border: none;
     color: white;
     transition: .4s ease-in-out;
}
.i4b:hover .il {
     background-color: transparent;
}
.test4 {
     background-color: rgb(236, 236, 236);
     width: 78%;
     height: 170%;
     position: absolute;
     border-radius: 4px;
     bottom: -470%;
     left: -10%;
     border: 1px solid rgb(0, 255, 255);
     border-left: none;
     border-right: none;
}
.one {
     display: flex;
     position: relative;
     justify-content: space-around;
     width: 97%;
     top: 80px;
}
.it1 {
     border: 1px solid transparent;
     box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
     width: 20%;
     height: 300px;
}
.iti {
     width: 60%;
     height: 100px;
     position: relative;
     top: 10px;
     left: 20%;
}
.itp {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 140%;
     position: relative;
     top: 20px;
     left: 18%;
}
.ipt2 {
     font-size: 160%;
     position: relative;
     top: 0px;
     left: 35%;
}
.ttest {
     background-color: rgb(236, 236, 236);
     width: 86%;
     height: 44px;
     position: relative;
     border-radius: 4px;
     bottom: 0px;
     left: 8%;
     border: 1px solid rgb(0, 255, 255);
     border-left: none;
     border-right: none;
     z-index: 1;
}
.itl {
     background-color: rgb(0, 255, 255);
     padding: 12px 22px;
     border: 1px solid transparent;
     border-radius: 4px;
     text-decoration: none;
     color: white;
     position: absolute;
     top: 0px;
     left: 0px;
}
.itl:hover {
     background-color: transparent;
     border: 1px solid transparent;
     color: black;
     transition: .4s ease-in-out;
}
.itb {
     border: 1px solid transparent;
     padding: 12px 15px;
     height: 100%;
     background-color: transparent;
     border-radius: 4px;
     text-decoration: none;
     color: black;
     width: 55%;
     position: absolute;
     top: 0%;
     right: 0%;
}
.itb:hover {
     background-color: rgb(0, 255, 255);
     border: none;
     color: white;
     transition: .4s ease-in-out;
}
.two {
     display: flex;
     position: relative;
     justify-content: space-around;
     width: 96.3%;
     top: 180px;
     height: 400px;
}
.it2 {
     border: 1px solid transparent;
     box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
     width: 20%;
     height: 300px;
}
.iti2 {
     width: 60%;
     height: 100px;
     position: relative;
     top: 10px;
     left: 20%;
}
.itp20I {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 140%;
     position: relative;
     top: 20px;
     left: 38%;
}
.iptII {
     font-size: 160%;
     position: relative;
     top: 0px;
     left: 37%;
}
.ttest2 {
     background-color: rgb(236, 236, 236);
     width: 86%;
     height: 44px;
     position: relative;
     border-radius: 4px;
     bottom: 0px;
     left: 8%;
     border: 1px solid rgb(0, 255, 255);
     border-left: none;
     border-right: none;
     z-index: 1;
}
.itl2 {
     background-color: rgb(0, 255, 255);
     padding: 12px 22px;
     border: 1px solid transparent;
     border-radius: 4px;
     text-decoration: none;
     color: white;
     position: absolute;
     top: 0px;
     left: 0px;
}
.itl2:hover {
     background-color: transparent;
     border: 1px solid transparent;
     color: black;
     transition: .4s ease-in-out;
}
.itb2 {
     border: 1px solid transparent;
     padding: 12px 15px;
     height: 100%;
     background-color: transparent;
     border-radius: 4px;
     text-decoration: none;
     color: black;
     width: 55%;
     position: absolute;
     top: 0%;
     right: 0%;
}
.itb2:hover {
     background-color: rgb(0, 255, 255);
     border: none;
     color: white;
     transition: .4s ease-in-out;
}
.it3 {
     border: 1px solid transparent;
     box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
     width: 20%;
     height: 300px;
}
.iti3 {
     width: 60%;
     height: 100px;
     position: relative;
     top: 10px;
     left: 20%;
}
.itp2II {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 140%;
     position: relative;
     top: 5px;
     left: 33%;
}
.iptIII {
     font-size: 160%;
     position: relative;
     top: -17px;
     left: 35%;
}
.ttest3 {
     background-color: rgb(236, 236, 236);
     width: 86%;
     height: 44px;
     position: relative;
     border-radius: 4px;
     bottom: 17px;
     left: 8%;
     border: 1px solid rgb(0, 255, 255);
     border-left: none;
     border-right: none;
     z-index: 1;
}
.itl3 {
     background-color: rgb(0, 255, 255);
     padding: 12px 22px;
     border: 1px solid transparent;
     border-radius: 4px;
     text-decoration: none;
     color: white;
     position: absolute;
     top: 0px;
     left: 0px;
}
.itl3:hover {
     background-color: transparent;
     border: 1px solid transparent;
     color: black;
     transition: .4s ease-in-out;
}
.itb3 {
     border: 1px solid transparent;
     padding: 12px 15px;
     height: 100%;
     background-color: transparent;
     border-radius: 4px;
     text-decoration: none;
     color: black;
     width: 55%;
     position: absolute;
     top: 0%;
     right: 0%;
}
.itb3:hover {
     background-color: rgb(0, 255, 255);
     border: none;
     color: white;
     transition: .4s ease-in-out;
}
.ackn {
     position: absolute;
     bottom: -90%;
     left: 0%;
     background-color: aqua;
     width: 100%;
     word-spacing: 0.5em;
     text-align: center;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     word-spacing: 10px;
}
a.acknow {
     text-decoration: none;
     color: black;
}
a.acknow:hover {
     color: white;
     transition: .2s ease-in-out;
}
.itp1II {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 140%;
     position: relative;
     top: 20px;
     left: 15%;
}
.ipt1III {
     font-size: 160%;
     position: relative;
     top: 0px;
     left: 35%;
}
.itp3II {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 140%;
     position: relative;
     top: 5px;
     left: 13%;
}
.ipt3III {
     font-size: 160%;
     position: relative;
     top: -17px;
     left: 35%;
}
.ttest4 {
     background-color: rgb(236, 236, 236);
     width: 86%;
     height: 44px;
     position: relative;
     border-radius: 4px;
     bottom: 0px;
     left: 8%;
     border: 1px solid rgb(0, 255, 255);
     border-left: none;
     border-right: none;
     z-index: 1;
}
.itp2I {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 140%;
     position: relative;
     top: 20px;
     left: 6%;
}
.bet {
     overflow: hidden;
}
.bet .fi {
     font-size: 16px;  
     border: none;
     outline: none;
     padding: 14px 16px;
     background-color: inherit;
     font-family: inherit;
     margin: 0;
     text-decoration: none;
}
.bet {
     color: white;
}
.fi {
     color: black;
}
.fi:hover {
     color: white;
}
.h .qd:hover, .bet:hover .fi {
     background-color: red;
     transition: .4s ease-in-out;
}
.cbet {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     width: 10%;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}
.cbet .qd {
     float: none;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: center;
}
.cbet .qd:hover {
     background-color: #ddd;
     opacity: 1;
}
   
.bet:hover .cbet {
     display: block;
     opacity: 1;
     transition: .7s ease-in-out;
}
.cbet {
     position: absolute;
     left: 88.5%;
     top: 50px;
}
.fi {
     position: absolute;
     left: 70%;
     top: 5%;
}
.fi {
     border: none;
     outline: none;
     color: white;
     padding: 14px 16px;
     text-decoration: none;
     color: black;
     position: absolute;
     top: 5%;
     left: 87%;
}
.fi:hover {
     background-color: red;
     color: white;
     transition: .4s ease-in-out;
}
.it1:hover {
     box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.5);
     transition: .7s ease-in-out;
}
.it2:hover {
     box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.5);
     transition: .7s ease-in-out;
}
.it3:hover {
     box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.5);
     transition: .7s ease-in-out;
}
.itp2II {
     position: relative;
     left: 15%;
}
